# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Blender Development extension workspace
blender_vscode_development/

# IDE
.vscode/
!.vscode/settings.json

# OS
Thumbs.db
Desktop.ini
.DS_Store
data/final-output/
